<div class="ui-g">
    <div class="ui-g-12 ui-fluid">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <div class="ui-inputgroup">
                        <span class="md-inputfield">
                            <input id="searchtext" type="text" pInputText required/>
                            <label for="searchtext">Fulltext-Search...</label>
                        </span>
                        <button pButton type="button" icon="ui-icon-search"></button> 
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Searchresults</h1>
            <p-dataTable [value]="searchResult" selectionMode="single" [(selection)]="selectedAddress" 
                datKey="Id" [paginator]="true" [rows]="10" [responsive]="true" (onRowDblclick)="handleRowDblclick($event)">
                <p-header>Address</p-header>
                <p-column field="Firstname" header="Firstname" [sortable]="true"></p-column>
                <p-column field="Lastname" header="Lastname" [sortable]="true"></p-column>
                <p-column field="Street" header="Street" [sortable]="true"></p-column>
                <p-column field="HouseNumber" header="House-Number" [sortable]="true"></p-column>
                <p-column field="Postcode" header="Postcode" [sortable]="true"></p-column>
                <p-column field="City" header="City" [sortable]="true"></p-column>
                <p-column field="IsMember" header="Is Member" [sortable]="true"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>