.quicksearch-form {
    overflow: hidden;
    
    .ui-panel {
        min-height: 340px;
    }
    
    .ui-g-12 {
        padding: 16px 10px;
    }

    .ui-button {
        margin-bottom: 30px;
    }
}