<div class="ui-g dashboard">
    <div class="ui-g-12 ui-lg-6 ui-fluid quicksearch-form">
        <p-panel header="Quick Address-Search">
            <div class="ui-g">
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input id="searchtext" type="text" [(ngModel)]="searchText" pInputText required/>
                        <label for="searchtext">Search for Firstname or Lastname</label>
                    </span>
                </div>
            </div>
            <button type="button" label="Search" icon="ui-icon-send" pButton (click)="loadSearchResults()"></button>
            <p-dataTable [value]="searchResult" [rows]="5" [paginator]="false" [responsive]="true" [(selection)]="selectedAddress" dataKey="Id"
                selectionMode="single" [loading]="loading" (onRowDblclick)="handleRowDblclick($event)" *ngIf="searchResult != undefined">
                <p-header>{{searchResult.length}} Results</p-header>
                <p-column field="Firstname" header="Firstname"></p-column>
                <p-column field="Lastname" header="Lastname"></p-column>
            </p-dataTable>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-lg-6 task-list">
        <p-panel header="Next {{events.length}} Events">
            <ul>
                <li *ngFor="let event of events">
                    <span class="task-name">{{event}}</span>
                    <i class="material-icons">&#xE89F;</i>
                </li>
            </ul>
        </p-panel>
    </div>
</div>