<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <!-- <div id="j_idt9" class=" ui-g-12 logo"></div> -->
        <div class="ui-g-12"><img id="j_idt9" src="../../../assets/layout/images/logo.png" alt="">
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="usr_inputText" type="text" [(ngModel)]="username" pInputText>
                <label for="usr_inputText">Username</label>
            </span>
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="pwd_inputText" type="password" [(ngModel)]="password" pInputText>
                <label for="pwd_inputText">Password</label>
            </span>
        </div>
        <div class="ui-g-12">
            <button id="j_idt19" ame="j_idt19" type="button" class="ui-button" label="Sign In" icon="ui-icon-person" (click)="OnLoginClick()" role="button" aria-disabled="false" pButton></button>
            
            <button id="j_idt19" ame="j_idt19" type="button" class="secondary ui-button" label="Forgot Password" icon="ui-icon-help" (click)="OnPasswordForgottenClick()"  role="button" aria-disabled="false" pButton></button>
        </div>
    </div>
</div>